.DS_Store
._.DS_Store
._*
build/*
!build/auto-run.sh
!build/shaheen-run.sh
!build/10240-l2.sh
output.txt
.idea
cmake-build-debug
._*
logs/
TESTDATA/*
!TESTDATA/create_mm.jl
!TESTDATA/scale_test.sh
run/*
!run/*.sh