.DS_Store
._.DS_Store
._*
build/*
output.txt
.idea
cmake-build-debug
*.~
*~
logs/
TESTDATA/*
run/*
.vscode/
magiq_run/*

parser/bin/*
!parser/bin/.gitkeep

parser/include/*
!parser/include/magiqScal.h

parser/src/*
!parser/src/main.cc

a.out
